# === Python ===
venv/
.venv/
env/
.env/
__pycache__/
*.py[cod]
*$py.class

# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# === Common ===
.DS_Store
*.log
*.sqlite3
*.bak
*.swp
*.swo

# === IDEs ===
.vscode/
.idea/

# === Test & Coverage ===
.pytest_cache/
.tox/
coverage.xml
htmlcov/
.coverage

# === Build artifacts ===
dist/
build/
*.egg-info/
.eggs/
*.spec

# === Jupyter ===
.ipynb_checkpoints

# === Mypy ===
.mypy_cache/
.dmypy.json
.next